<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a5c0594c-fd7b-4b64-9b9f-421e00051376/resourcegroups/bitsmonkeybotconductor/providers/Microsoft.Web/sites/bitsmonkeybotconductor</ResourceId>
    <ResourceGroup>bitsmonkeybotconductor</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bitsmonkeybotconductor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://bitsmonkeybotconductor.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>5d4c1fa0-aadf-4ef6-8fc2-11532074c335</ProjectGuid>
    <MSDeployServiceURL>waws-prod-dm1-171.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bitsmonkeybotconductor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bitsmonkeybotconductor</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>